<h1 class="m-0 px-3 pb-4 border-bottom border-primary"><%= image_pack_tag("banks/#{bank.name.underscore}.png", style: 'height: 50px')%></h1>
<% accounts.each do |account| %>
  <div class="container">
    <%= render partial: 'banks/accounts/account', locals: { account: account }  %>
  </div>
<% end %>
<div class="py-4 border-top border-primary text-center">
  <div class="d-flex justify-content-center"><%= paginate accounts, theme: 'twitter-bootstrap-4' %></div>
  <div><%= page_entries_info accounts %></div>
</div>
