@import 'bootstrap/dist/css/bootstrap';
body {
  padding-top: 60px;
  font-family: 'Karla', sans-serif;
  color: #576d96;
  background-color: #f8f9fa;
}
section.page {
  background-color: #fff;
  padding: 25px 0;
}
.breadcrumb {
  background-color: #fff;
  padding: 0.75rem 0;
}
.budget-accounts {
  .bank-account {
    margin: 0;
    .col {
      padding: 0;
    }
  }
  > div:last-child {
    border-bottom: 0 !important;
  }
}
.actions {
  padding: 15px 20px;
  background: #f8f9fa;
  text-align: right;
}
footer {
  padding: 50px 0;
  a {
    padding-left: 20px;
    &:first-child {
      padding-left: 0;
    }
  }
}
