@import 'bootstrap/dist/css/bootstrap';
body {
  padding-top: 60px;
}
.budget-accounts {
  .bank-account {
    margin: 0;
    .col {
      padding: 0;
    }
  }
  > div:last-child {
    border-bottom: 0 !important;
  }
}
.actions {
  padding: 15px 20px;
  background: #e9ecef;
  text-align: right;
}
