<h1 class="m-0 px-3 pb-3 border-bottom border-primary">My Integrations</h1>
<% integrations.each do |integration| %>
  <div class="container">
    <div class="row py-3 border-bottom">
      <div class="col">
        <h3 class="mb-1"><%= link_to image_pack_tag("integrations/#{integration.service.downcase}.png", style: 'height: 50px'), integration_path(integration) %></h3>
      </div>
    </div>
  </div>
<% end %>
<div class="py-4 border-top border-primary text-center">
  <div class="d-flex justify-content-center"><%= paginate integrations, theme: 'twitter-bootstrap-4' %></div>
  <div><%= page_entries_info integrations %></div>
</div>
