<% if breadcrumb_trail.count > 1 %>
<div class="container pb-3">
  <nav aria-label="breadcrumb">
    <ol class='breadcrumb pt-0 pb-3 mb-0 border-bottom'>
      <% breadcrumb_trail do |crumb| %>
        <li class="breadcrumb-item<%= current_page?(crumb.url) ? ' active' : '' %>">
          <%= link_to_unless current_page?(crumb.url), crumb.name, crumb.url, (current_page?(crumb.url) ? {'aria-current' => 'page'} : {}) %>
        </li>
      <% end %>
    </ol>
  </nav>
</div>
<% end %>
