<div class="container">
  <footer>
    <div class="row">
      <div class="col">
      &copy; Copyright My Bank Ltd <%= Date.today.year %>
      </div>
      <div class="col text-md-right">
        <%= link_to 'Privacy Policy', page_path('privacy') %>
        <%= link_to 'Terms of Service', page_path('terms') %>
      </div>
    </div>
  </footer>
</div>
